@media (min-width: 300px) {
  img {
  }
}

.it {
  /*position: fixed;*/
  display: block;
  margin-left: auto;
  /*width: 50;*/
  /*width: 40;*/
  max-width: 800%;
}

h1 {
}

.pop-up {
  /*inline-size: auto;*/
  /*color: var(--bs-indigo);*/
  /*font-style: italic;*/
  /*font-variant: inherit;*/
  /*font-family: cursive;*/
  /*font-family: sans-serif;*/
  /*font-style: initial;*/
  position: relative;
  font-size: 2rem;
  color: #333;
  text-shadow: 0 0 2px #fff;
  transform-style: preserve-3d;
}

p {
}

.pop-up2 {
}

